*{
    margin: 0;
    padding: 0;
}
body{
    /*width: 1020px;*/
    /*margin: 0 auto;*/
    font-family: 'Lato', sans-serif;

}
.aligner{
    width: 1020px;
    margin: 0 auto;
    min-width: 320px;
}
header{
    width: 1020px;
    position: fixed;
    z-index: 101;
    height: 98px;
    background-color: #2d303a;
    color: white;
}

.logo{
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    line-height: 20px;
}
.logo-for-burger{
    position: absolute;
    z-index: 100;
     left: 73px;
    transition-duration: 0.5s;
    /*transition-delay: 0.2s;*/
    /*transform: translateX(-160px);*/
}
.nav-for-burger{
    display:block;
}
.burger{
    position: absolute;
    z-index: 100;
    left: 20px;
    top: 26px;
    display: none;
    transition-duration: 0.5s;
}
.header-bottom{
    width: 100%;
    height: 6px;
    background-color: #323746;
}
.header_content{
    width: 940px;
    height: 30%;
    margin: 0 auto;
    padding: 30px 40px;
}
.header_content p,nav{
    display: inline-block;
}
.header_content nav{
    float: right;
    font-size: 12px;
}
.header_content nav ul li{
    display: inline-block;
    margin-left: 23px;
    line-height: 25px;
    font-weight: 700;
    cursor: pointer;
}
.header_content nav ul li a:hover {
    /*color: rgb(240,108,100);*/
    cursor: pointer;
}

.header_content ul li:not(:first-child)::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 400;
    font-size: 19px;
    font-family: Lato, sans-serif;
    color: rgb(63,67,83);
}
/**/

.section-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}
.left-arrow{
    position: absolute;
    top: 348px;
    transform: rotate(180deg);
    left: 20px;
    z-index: 100;
}
.right-arrow{
    position: absolute;
    top: 350px;
    right: 20px;
    z-index: 100;
}
.arrow:hover{
    opacity: .7;
    cursor: pointer;
}
.vertical_phone{
    width: 217px;
    height: 529px;
    margin-top: -17px;
    margin-left: 70px;
}
.horizontal_phone{
    height: 321px;
    width: 524px;
    margin-top: -52px;
    margin-left: 32px;
}
/**/
.service-block{
    width: 100%;
    height: 493px;
    position: relative;
    background-color: #f2f2f2;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    position: relative;
}
.footer-bottom{
    width: 100%;
    height: 6px;
    bottom: 0;
    position: absolute;
    background-color: #ffffff;
}
.service_upperpart{
    padding-top: 68px;
}
.service_upperpart h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    /* font-family: "Lato"; */
    font-weight: 900;
    letter-spacing: 0.3px;
}
.service_upperpart p{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    text-align: justify;
    padding: 28px 0;
    letter-spacing: -0.23px;
}
.service_lowerpart{
    display: flex;
    margin-top: 18px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service:nth-child(-n+3){
    margin-bottom: 28px;
}
.imgdiv{
    height: 93px;
    float: left;
    margin-right: 18px;
    padding-top: 2px;
}
.service_info h2{
    font-size: 18px;
    /*line-height: 18px;*/
    color: #666d89;
    font-weight: 900;
    letter-spacing: 0.3px;
}
.service_info p{
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
    font-weight: 400;
    padding-top: 7px;
}
.portfolio{
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    position: relative;
    overflow: hidden;
}

.text-section{
    margin-top: 22px;
}
.portfolio .text-section h2{
    letter-spacing: -0.1px;
    color: #666d89;
    font-family: "Lato-Black" , sans-serif;
    font-size: 30px;
    /*font-weight: 400;*/
    padding-top: 40px;

}
.portfolio .text-section p {
    color: #767e9e;
    letter-spacing: 0.52px;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 300;
    word-spacing: -2px;
    margin-top: 21px;
}
.classified-list{
    margin-top: 15px;
}
.classified-list div{
    display: inline-block;
    color: #666d89;
    border: 1px solid;
    font-family: Lato;
    font-size: 12px;
    border-radius: 4px;
    line-height: 20px;
    margin-right: 6px;
}
.classified-list > div:first-child{
    padding: 0 7px;
}
.classified-list > div:nth-child(2){
    padding: 0 6px;
}
.classified-list > div:nth-child(3){
    padding: 0 6px;
    margin-left: 1px;
}
.classified-list > div:nth-child(4){
    padding: 0 6px;
}
.classified-list > div:hover{
    cursor: pointer;
    color: #f2f2f2;
}
.gallery{
    height: 600px;
    overflow: hidden;
}
.aboutus{
    width: 1020px;
    height: 728px;
    position: relative;
    background-color: #f2f2f2;
}
.footer-text-section h1{
    font-family: "Lato-Black" ;
    color: #666d89;
    font-size: 30px;
    padding-top: 19px;
}
.footer-text-section p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.22px;
    padding-top: 19px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}
.gallery > * {
    margin-bottom: 16px;
}
.main-bottom-line{
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    background-color: #323746;
}
.people-info{
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    margin-top: 45px;
}
.people-info .person{
    width: 300px;
}
.people-info .person h2{
    font-size: 18px;
    font-family: Lato-Black;
    margin-top: 12px;
    color: #666d89;
    letter-spacing: -0.11px;
    width: 100%;
    overflow: hidden;
    height: 20px;
}
.people-info .person p {
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    line-height: 21.56px;
    padding-top: 9px;
    text-align: justify;
}
.wrapper2{
    padding-top: 40px;
}
.person1 p{
    word-spacing: -0.5px;
}
.person-contacts {
    margin-top: 25px;
}
.person-contacts div{
    display: inline-block;
    border: 1px solid #666d89;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}
.person-contacts div:not(:first-child){
    margin: 0 3px;
}
.person-contacts > div:hover{
    border-color: white;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #666d89;
    transition-duration: 0.5s;
}
.person-contacts div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.footer-bottom-line{
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}
.quote{
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    position: relative;
}
.bottom-main-line{
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    background-color: #ea676b;
}
@font-face{
    src: url('assets/Lato-Black.ttf');
    font-family: Lato-Black;
}
.quote .wrapper .text-section div:first-child{
    margin-top: 29px;
    letter-spacing: -0.2px;
}
.quote .wrapper .text-section h1 {
    height: 26px;
    color: #f0d8d9;
    font-family: "Lato-Black",sans-serif;
    font-size: 30px;
    line-height: 17.86px;
}
.quote .wrapper .text-section div:last-child{
    margin-top: 19px;
}
.quote .wrapper .text-section p{
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.22px;
}
.quote input:focus{
    border:none;
}
.namefield:required:valid,
.mailfield:required:valid {

    box-shadow: inset 0 0 6px 1px lightgreen;

}

.namefield:not(:placeholder-shown):invalid,
.mailfield:not(:placeholder-shown):invalid {
    box-shadow: inset 0 0 6px 1px red;
}
.wrapper3{
    padding-top: 40px;
}
.quote form input {
    width: 619px;
    height: 38px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
}
form input::placeholder{
    color: #f48c8f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-left: 15px;
}
.quote form textarea{
    width: 619px;
    height: 202px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
}
form textarea::placeholder{
    color: #f48c8f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 7px;
    padding-left: 14px;
}
form input , form textarea {
    outline: none;
    padding-left: 15px;
}
.input-section{
    max-width: 619px;
}
.form-and-contacts{
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
}
.contact-info {
    width: 301px;
    color: #f0d8d9;
}
.contact-info h2{
    color: #f0d8d9;
    /*font-family: "Lato - Black",sans-serif;*/
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 17.86px;
}
.contact-info p{
    color: #f0d8d9;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 11px;
    margin-bottom: 27px;
    text-align: justify;
    letter-spacing: -0.1px;
}
a {
    text-decoration: none;
    color: #f0d8d9;
}
.contacts{
    display: flex;
    font-size: 12px;
    margin-bottom: 7px;
}
.contacts > img:hover{
    opacity: 0.5;
}
.contacts > img.location{
    height: 11px;
    padding-top: 2.5px;
    padding-left: 4px;
    margin-right: 12px;
}
.contacts > img.phone{
    height: 11px;
    padding-top: 2.5px;
    padding-left: 2px;
    margin-right: 10px;
}
.contacts > img.mail{
    height: 8px;
    padding-top: 5px;
    margin-right: 11px;
}
.submitbtn{
    border: none;
    width: 100px;
    line-height: 27px;
    margin-top: 10px;
    border-radius: 3px;
}
.submitbtn:hover{
    background-color: lightgrey;
}
footer{
    position: relative;
    min-width: 320px;
    width: 100%;
    height: 76px;
    background-color: #2d303a;
}
.person-contacts2{
    position: absolute;
    top: 22px;
    right: 35px;
}
.person-contacts2 div{
    display: inline-block;
    border: 1px solid #666d89;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}
.person-contacts2 div:not(:first-child){
    margin: 0 3px;
}
.person-contacts2 > div:hover{
    border-color: white;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #666d89;
    transition-duration: 0.5s;
}
.person-contacts2 div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.copyright{
    position: absolute;
    top: 28px;
    left: 42px;
}
.copyright-text{
    font-size: 11px;
    color: #767e9e;
    padding-top: 2px;
    padding-left: 0px;
    letter-spacing: 0.27px;
}

/*js*/
.active-li{
    color: rgb(240,108,100);
}
.clicked-pic{
    border: 5px solid #F06C64;
    width: 210px;
    height: 177px;
}
.clicked-tab{
    color: #f2f2f2;
    box-shadow: 0 0 4px 1px white;
}
.pop-window{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0008;
}
.message{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: whitesmoke;
    width: 250px;
    height: 200px;
    transform: translate(-50%,-50%);
    /*display: none;*/
}
.message p {
    padding-top: 20px;
}
.okbtn{
    width: 100px;
    position: absolute;
    bottom: 0;
}
.phones{
    width: 100%;
    height: 593px;
    padding-top: 89px;
    position: relative;
    overflow:hidden;
}
.slide-1{
    width: 100%;
    height: 594px;
    background-color: rgb(240,108,100);
    position: absolute;
    /*transition-duration: 2s;*/
}
.slide-1 .wrapper img{
    background-color: rgb(240,108,100);
}
.slide-2{
    width: 100%;
    height: 594px;
    position: absolute;
    /*transition-duration: 2s;*/
}
.slide{
    transition: 0.6s ease;
    transform: translate(-100%, 0);
}
.slide.active{
    transform: translate(0, 0);
}
.slide.active ~ .slide{
    transform: translate(100%, 0);
}
.phone-click{
    width: 163px;
    height: 346px;
    position: absolute;
    padding-left: 84px;
    margin-top: -415px;
}
.phone-click2{
    position: absolute;
    width: 457px;
    height: 216px;
    margin-left: 65px;
    margin-top: 105px;
}
.black-screen{
    width: 143px;
    margin-left: 10px;
    height: 251px;
    margin-top: 50px;
    background-color: black;
    display: none;
}
.black-screen2{
position: absolute;
height: 189px;
width: 334px;
margin-left: 60px;
margin-top: 14px;
background-color: black;
display: none;
}
.message{
padding: 20px;
}
.message p {
word-break: break-all;
}
.activeham{
    transform: rotate(90deg);
    transition-duration: 0.5s;
}
/**/
@media screen and (max-width: 1020px){
    .aligner {
        width: 100%;
    }
    .aligner > section {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .header_content{
        width: auto;
    }
    .header_content nav{
        display: block;
    }
    .pop-window{
        display: none;
    }
    .phones {
        height: auto;
        padding-top: 94px;
    }
    .phones > .slide.active {
        width: 100%;
        position: relative;
        height: auto;
        object-fit: contain;
    }
    .left-arrow {
        top: calc(50% + 32px);
        left: 4%;
    }
    .right-arrow{
        top: calc(50% + 32px);
        right: 4%;
    }
    .section-bottom {
        height: 8px;
        position: absolute;
        bottom:2px;
    }
    .service-block {
        height: auto;
    }
    .service-block > .wrapper{
        width: 88%;
    }
    .service_upperpart p {
        width: auto;
        height: auto;
    }
    .service {
        margin-top: 8px;
        margin-bottom: 40px;
    }
    .service:nth-child(2n+1) {
        margin-right: 52px;
    }
    .service_lowerpart{
        margin-top: 0;
        justify-content: normal;
    }
    .service:nth-child(-n+3){
        margin-bottom: 40px;
    }
    .portfolio > .wrapper{
        width:calc(100% - 40px);
    }
    .portfolio > .wrapper > .text-section{
        padding-left: 22px;
    }
    .portfolio {
        height: auto;
        padding-bottom: 67px;
    }
    .gallery {
        height: auto;
        justify-content: center;
        margin-top: 17px;
    }
    .gallery > div > img{
        width: 216.19px;
        height: 183.76px;
    }
    .gallery > * {
        margin: 10px;
        margin-bottom: 5px;
    }
    .aboutus > .wrapper2{
        width: calc(100% - 80px);
    }
    .footer-text-section h1{
        padding-top: 17px;
    }
    .footer-text-section p {
        padding-top: 14px;
    }
    .aboutus{
        height: auto;
        padding-bottom: 71px;
    }
    .people-info{
        margin-top: 40px;
    }
    .people-info .person h2{
        margin-top: 7px;
    }
    .people-info .person p {
        padding-top: 2px;
    }
    .person-contacts {
        margin-top: 13px;
    }
    .person > img{
        width: 100%;
        height: auto;
    }
    .person2{
        margin: 0 calc((100% - 86vw)/2);
    }
    .wrapper3{
        padding-top: 32px;
        width: calc(100% - 80px);
    }
    .wrapper3 > .text-section {
        width: calc(100% - 40px);
    }
    .form-and-contacts{
        margin-top: 25px;
        width:100% ;
    }
    .quote form input{
        margin-bottom: 12px;
        width: auto;
    }
    .quote form textarea{
        width: auto;
        height: 159px;
    }
    .contact-info{
        padding-left: 25px;
        flex: 1;
    }
    .contact-info > div{
        width: 222px;
    }
    .contact-info p{
        padding-top: 5px;
        margin-bottom: 18px;
    }
   .input-section{
       flex: 2;
   }
    .quote form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .quote{
        height: auto;
        padding-bottom: 65px;
    }

}
@media screen and (max-width: 767px) {
    .aligner {
        width: 100%;
    }

    header {
        width: 100%;
        position: fixed;
        z-index: 101;
        height: 71px;
        background-color: #2d303a;
        color: white;
    }

    .header_content {
        text-align: center;
        padding: 24px 40px;
    }

    .header_content nav {
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        height: 100vh;
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        width: 278px;
    }

    .header_content nav ul {
        position: absolute;
        top: 231px;
        margin-left: 70px;
        width: calc(100% - 70px);
        text-align: left;
    }

    .header_content nav ul li {
        font-weight: 700;
        font-family: Lato;
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 27px;
        letter-spacing: -0.035em;
        cursor: pointer;
        display: block;
        margin-left: 0;
    }
    .header_content ul li:not(:first-child)::before {
        content: none;
        position: relative;
        bottom: 3px;
        left: -13px;
        font-weight: 400;
        font-size: 19px;
        font-family: Lato, sans-serif;
        color: rgb(63,67,83);
    }
    .logo {
        padding-top: 2px;
        font-size: 18px;
    }

    .burger {
        display: block;
    }

    .header_content nav {
        display: none;
    }

    .phones {
        padding-top: 75px;
    }

    .slide {
        height: 457px;
    }

    #slide-1 .wrapper {
        width: 768px;
        height: 457px;
    }

    .service-block {
        padding-bottom: 35px;
    }

    .service_upperpart {
        padding-top: 7%;
    }

    .service_upperpart p {
        width: auto;
    }

    .service-block > .wrapper {
        width: 88%;
        margin: 0 41px;
    }

    .portfolio .text-section p {
        word-spacing: -1px;
        margin-top: 17px;
        line-height: 30px;
        width: 665px;
    }

    .classified-list {
        margin-top: 11px;
    }

    .portfolio {
        width: 100%;
    }

    .copyright {
        display: none;
    }

    .person-contacts2 {
        position: absolute;
        left: 50%;
        margin-left: -78px;
        top: 50%;
        margin-top: -17px;
    }

}
@media screen and (max-width: 375px){
    .phones{
        padding-top: 71px;
    }
    .header-bottom{
        display: none;
    }
    .left-arrow{
        top: calc(50% + 18px);
        left: 2.5%;
    }
    .right-arrow{
        top: calc(50% + 21px);
        right: 2.5%;
    }
    .service-block{
        padding-bottom: 10px;
    }
    .service-block > .wrapper{
        margin: 0 32px;
        width:auto ;
    }
    .service_upperpart{
        padding-top: 10%;
        width: calc(100%);
    }
    .service_upperpart p{
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        padding-top: 26px;
        letter-spacing: 0;
        text-align: left;
    }
    .service_lowerpart{
        margin-top: -6px;
    }
    .service:nth-child(-n+3) {
        margin-bottom: 18px;
    }
    .service {
        margin-bottom: 14px;
        margin-right: 0;
    }
    .footer-bottom{
        display: none;
    }

}